<p-toast></p-toast>
<div class="card">
    <h3>Calendario de Reservas</h3>
    <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<p-dialog [(visible)]="bookingDialog" [style]="{width: '500px'}" header="Confirmar Reserva" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="resource">Recurso a Reservar</label>
            <p-dropdown id="resource" [options]="resources" [(ngModel)]="newBooking.resourceId" placeholder="Selecciona el recurso" optionLabel="name" optionValue="_id" [showClear]="true">
            </p-dropdown>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="startTime">Inicio</label>
                <p-calendar id="startTime" [(ngModel)]="newBooking.startTime" [showTime]="true" hourFormat="12" [disabled]="true"></p-calendar>
            </div>
            <div class="field col">
                <label for="endTime">Fin</label>
                <p-calendar id="endTime" [(ngModel)]="newBooking.endTime" [showTime]="true" hourFormat="12" [disabled]="true"></p-calendar>
            </div>
        </div>
        <div class="field">
            <label for="notes">Notas (Opcional)</label>
            <textarea id="notes" pInputTextarea [(ngModel)]="newBooking.notes" rows="3"></textarea>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Confirmar Reserva" icon="pi pi-check" class="p-button-text" (click)="saveBooking()"></button>
    </ng-template>
</p-dialog>